{% block content %}

    <div class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Neden Bizi Tercih Etmelisiniz?</h3>
                <hr class="invis">
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="about-item">
                        <div class="about-icon">
                            <span class="icon icon-briefcase"></span>
                        </div>
                        <div class="about-text">
                            <h3> <a href="#">Teknik Bilgi Birikimi ve Sektörel Deneyim</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="about-item">
                        <div class="about-icon">
                            <span class="icon icon-user-check"></span>
                        </div>
                        <div class="about-text">
                            <h3> <a href="#">Müşteri ve Kalite Odaklı Yaklaşım</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="about-item">
                        <div class="about-icon">
                            <span class="icon icon-mobile"></span>
                        </div>
                        <div class="about-text">
                            <h3> <a href="#">Tüm Ürünlerde ve Platformlarda Çözümler</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="about-item">
                        <div class="about-icon">
                            <span class="icon icon-lock"></span>
                        </div>
                        <div class="about-text">
                            <h3> <a href="#">Tam Gizlilik ve Maksimum Veri Güvenliği</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="about-item">
                        <div class="about-icon">
                            <span class="icon icon-cool"></span>
                        </div>
                        <div class="about-text">
                            <h3> <a href="#">Konusunda Uzman Danışmanlar</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="about-item">
                        <div class="about-icon">
                            <span class="icon icon-database"></span>
                        </div>
                        <div class="about-text">
                            <h3> <a href="#">7/24 Bakım Desteği Hizmeti</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end section -->

{% endblock %}