{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

<!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

     <!-- Site Metas -->
    <title> {% block title %} Django Kurumsal {% endblock %} </title>
    <meta name="keywords" content={% block keywords %} Anasayfa_Anahtar_Kelimeler {% endblock %}>
    <meta name="description" content={% block description %} Anasayfa_Kısa_Açıklama {% endblock %}>
    <meta name="author" content={% block author %}"Django Kurumsal Web Sitesi"{% endblock %}>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static "style.css" %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static "css/responsive.css" %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/custom.css" %}">

    <!-- Modernizer for Portfolio -->
    <script src="{% static "js/modernizer.js" %}"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head %}  {% endblock %}

</head>

<body>
    {% include 'header.html' %}
    {% block slider %}  {% endblock %}
    {% block content %}  {% endblock %}
    {% block blog-slider %}{% include "blog-slider.html" %}{% endblock %}
    {% include 'footer.html' %}
</body>
</html>