{% extends "homebase.html" %}
{% block title %}İletişim Bilgileri{% endblock %}
{% block keywords %}"{{ setting.keywords }}"{% endblock %}
{% block description %}"{{ setting.description }}"{% endblock %}
{% block head %}
    <link rel="shorcut icon" type="image/x-icon" href="{{setting.icon.url}}">
    <style>
        h1{
            text-align: center;
        }

        h2.h2{
            color: #0f0f0f;
            text-align: center;
        }

        label{
            display: none;
        }

        li{
            display: none;
        }

        span{
            font-size: 16px;
        }

        .button {
          background-color: #fd6802;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 25px 0px 25px 0px;
        }
    </style>
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="row" >

            <div class="col-md-4">
                <h2 class="h2" style="text-align: left">
                    İletişim Formu
                </h2>

                <hr class="hr2">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div style="text-align: left">
                    <form action="#" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="button" value="Gönder">
                    </form>
                </div>
            </div>

            <div class="col-md-8">
                <h2 class="h2">
                    İletişim Bilgileri
                </h2>
                <hr class="hr2">
                <h1>
                    <span style="font-size:18px">
                        <b>Ankara</b>
                    </span>
                </h1>
                <h1>
                    <span>
                        {{ setting.address }}
                    </span>
                </h1>
                <h1>
                    <span>
                        {{ setting.email }}
                    </span>
                </h1>
                <h1>
                    <span>
                        {{ setting.phone }}
                    </span>
                </h1>
                <h1>
                    <span style="font-size:18px">
                        <b>İstanbul</b>
                    </span>
                </h1>
                <h1>
                    <span>
                        Tugay Yolu Cad. Plaza No: 221/B D: 06 3478 Maltepe/İstanbul</span>
                </h1>
            </div>

        </div>
        <hr class="hr2">
    </div>
</div>
{% endblock %}
