{% extends "homebase.html" %}
{% block title %}Referanslarımız-{{ setting.title }}{% endblock %}
{% block keywords %}"{{ setting.keywords }}"{% endblock %}
{% block description %}"{{ setting.description }}"{% endblock %}
{% block head %} <link rel="shorcut icon" type="image/x-icon" href="{{setting.icon.url}}">{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    {% load static %}
    <div id="content-main" class="parallax section db parallax-off" style="background-color: #ffffff;">
        <div class="container">
            <div class="section-title text-center">
                <h3 style="color: #1f1f1f">Referanslarımız</h3>
            </div><!-- end title -->

            <hr class="hr3">

            {{ setting.references|safe }}

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}