<ul>
    <li><a href="/user" class=""><h6>Kullanıcı Bilgileri</h6></a></li>
    <li><a href="/user/addcontent" class=""><h6>Makale Oluştur</h6></a></li>
    <li><a href="/user/contents" class=""><h6>Blog Paylaşımları</h6></a></li>
    <li><a href="/user/comments" class=""><h6>Yorumları</h6></a></li>
    <li><a href="/user/update" class=""><h6>Profili Güncelle</h6></a></li>
    <li><a href="/user/password" class=""><h6>Şifreyi Değiştir</h6></a></li>
    <li><a href="/logout" class=""><h6>Çıkış</h6></a></li>
</ul>

